<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href='/styles/index.css'>
</head>
<body>

  <div id="nav">
    <p id="language">English</p>
    <p id="logo">Pizza Shack</p>
    <a href="/login">Sign In</a>
  </div>
  <div id="main">
  <p>Hello World</p>

  <form action="/" method="POST">
    <span> Email </span>
    <input type="text" name="email">
    <span> Password </span>
    <input type="password" name="password">
    <input type="submit" name="submit">
  </form>
</div>

</body>
</html>