<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <p>Hello World</p>

  <form action="/" method="POST">
    <span> Email </span>
    <input type="text" name="email">
    <span> Password </span>
    <input type="password" name="password">
    <input type="submit" name="submit">
  </form>
</body>
</html>