body{
    margin: 0;
    padding: 0;
}



#nav{
    justify-content: space-between;
    position: fixed;
    display: flex;
    color: white;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 10vh;
    background-color: #4d4d4d;
    top: 0;
}

#main{

  padding-top: 10vh;
  display: block;
}